ul{
	width: 100%;
}
.app-container {
	width: 80%;
	margin: auto;
	display: flex;
	background-color: white;
}

.navigation {
	flex: 0 0 150px;
	min-height: 100%;
	background-color: #3333FF;
}

.navigation a {
	display: block;
	padding: 15px;
	text-align: center;
	color: white;
	font-family: sans-serif;
	text-decoration: none;
}

.navigation a:hover {
	color: red;
}

.content-container {
	flex: 1 1 auto;
	width: 80%;
	margin: 10px;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	color: darkblue;
	bottom: 0;
}

.content-container .card {
	height: 195px;
	flex: 0 0 195px;
	background-image: url('bitcoin.jpg');
	border: 3px solid #333;
	margin: 5px;

}
	
.content-container .card1 {
	height: 195px;
	flex: 0 0 195px;
	background-image: url('binance.jpg');
	border: 3px solid #333;
	margin: 5px;
}

.content-container .card2 {
	height: 195px;
	flex: 0 0 195px;
	background-image: url('dash.jpg');
	border: 3px solid #333;
	margin: 5px;
}

.content-container .card3 {
	height: 195px;
	flex: 0 0 195px;
	background-image: url('ethereum.jpg');
	border: 3px solid #333;
	margin: 5px;
}

.content-container .card4 {
	height: 195px;
	flex: 0 0 195px;
	background-image: url('litecoin.jpg');
	border: 3px solid #333;
	margin: 5px;
}

.content-container .card5 {
	height: 195px;
	flex: 0 0 195px;
	background-image: url('ripple.jpg');
	border: 3px solid #333;
	margin: 5px;
}

.content-container .card6 {
	height: 195px;
	flex: 0 0 195px;
	background-image: url('stellar.jpg');
	border: 3px solid #333;
	margin: 5px;
}

.content-container .card7 {
	height: 195px;
	flex: 0 0 195px;
	background-image: url('monero.jpg');
	border: 3px solid #333;
	margin: 5px;
}

.content-container .card8 {
	height: 195px;
	flex: 0 0 195px;
	background-image: url('eos.jpg');
	border: 3px solid #333;
	margin: 5px;
}

.content-container .card9 {
	height: 195px;
	flex: 0 0 195px;
	background-image: url('zrx.jpg');
	border: 3px solid #333;
	margin: 5px;
}

.content-container .card10 {
	height: 195px;
	flex: 0 0 195px;
	background-image: url('dogecoin.jpg');
	border: 3px solid #333;
	margin: 5px;
}

.content-container .card11 {
	height: 195px;
	flex: 0 0 195px;
	background-image: url('zcash.jpg');
	border: 3px solid #333;
	margin: 5px;
}

/**.container {
	position: relative;
	font-family: Arial;
}
**/
footer{
	margin-top: 3em;
	display: flex;
	justify-content: flex-end;
}
.fbox{
	width: 33%;
	margin: auto;
	text-align: center;
}
@media only screen and (max-width: 1199px) {
	.app-container {
		flex-direction: row;
		width: 900px;
	}

	.navigation {
		min-height: auto;
		flex: 0 0 35px;
	}

	.navigation a {
		display: inline-block;
	}
}

@media only screen and (min-width: 750px) and (max-width: 1000px) {
	.nav-item{
		text-align: center;
	}
	.app-container {
		width: 720px;
	}

	.content-container .card {
		flex-basis: 330px;
		height: 330px;
	}
	footer{
		flex-direction: column;
		width: 100%
	}
	.fbox {
		width: 100%;
		text-align: center;
	}
}

@media only screen and (max-width: 749px) {
	footer{
		flex-direction: column;
		width: 100%
	}
	.fbox {
		width: 100%;
		text-align: center;
	}
	.nav-item{
		text-align: center;
	}
	.app-container {
		margin: 0 15px;
		width: calc(100% - 30px);
	}

	.content-container {
		width: calc(100% - 50px);
	}

	.content-container .card {
		height: 50px;
		flex-basis: 100%;
	}
}

